[Unit]
Description=Borg Backup

[Service]
Type=simple
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/home/krj/.local/bin/back2spinoza.sh
User=krj
Group=krj

[Install]
WantedBy=borg-backup.timer
