[Unit]
Description = Set trackpoint sensitivity

[Service]
ExecStart=/home/krj/.local/bin/trackpoint.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
