[Unit]
Description=Execute Gnucash backup to S3
OnFailure=failure-notify@%n.service

[Timer]
OnUnitActiveSec=604800
Unit=back2s3.service

[Install]
WantedBy=multi-user.target
